Repository Rookout/helm-charts, pull requests merged in 2022-11, with the labels that each got.

#67 RK-14594 - Create artifacthub-repo.yml
  charts/rookout-hybrid/artifacthub-repo.yml
Labels: DeployEnforcer/MergeOnceApproved, global_change

#69 RK-14644 - Move artifacthub
  artifacthub-repo.yml
Labels: DeployEnforcer/MergeOnceApproved, global_change

#70 RK-14751 - fixing hybrid ingress ctrl
  charts/rookout-hybrid/Chart.yaml
  charts/rookout-hybrid/templates/controller-ingress.yaml
Labels: DeployEnforcer/MergeOnceApproved, rookout-hybrid-deployment

#71 hybrid helm chart TLS mode secret bug fix
  charts/rookout-hybrid/templates/controller-deployment.yaml
  charts/rookout-hybrid/templates/datastore-deployment.yaml
  charts/rookout-hybrid/values.yaml
Labels: DeployEnforcer/MergeOnceApproved, rookout-hybrid-deployment

#72 tls mode bug fix
  charts/rookout-hybrid/Chart.yaml
Labels: DeployEnforcer/MergeOnceApproved, rookout-hybrid-deployment

#68 RK-15625 - fix:node port added to hybrid chart
  charts/rookout-hybrid/Chart.yaml
  charts/rookout-hybrid/templates/controller-service.yaml
  charts/rookout-hybrid/templates/datastore-service.yaml
  charts/rookout-hybrid/values.yaml
Labels: DeployEnforcer/MergeOnceApproved, rookout-hybrid-deployment

#73 RK-15658 - fix tls mode secrets
  charts/rookout-hybrid/Chart.yaml
  charts/rookout-hybrid/README.md
  charts/rookout-hybrid/templates/controller-deployment.yaml
  charts/rookout-hybrid/templates/datastore-deployment.yaml
  charts/rookout-hybrid/values.yaml
Labels: DeployEnforcer/MergeOnceApproved, rookout-hybrid-deployment

#74 RK-15710 - fix broken links to new charts
  charts/controller/Chart.yaml
  charts/controller/README.md
  charts/datastore/Chart.yaml
  charts/datastore/README.md
Labels: DeployEnforcer/MergeOnceApproved, datastore, controller
